<!DOCTYPE html>
<html lang="en">
<%- include('../components/header', {title: "Register User"}) %>

<body>
  <%- include('../components/navbar') %>
  <h1 class="formHeader">Edit Location</h1>
  <form id="registerUser" action="/users/register" method="POST">
    <label for="nama">Lokasi:</label>
      <input list="locationDataList" class="form-control" name="nama">
      <datalist id="locationDataList">
        <option value="Pondok Indah">
        <option value="Pondok Pinang">
        <option value="Radio Dalam">
        <option value="Blok M">
        <option value="Senayan">
      </datalist>
    <div class="form-group">
      <label for="koordinat">Koordinat</label>
      <input type="text" class="form-control" name="koordinat" id="koordinat">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <%- include('../components/script') %>
</body>

</html>
