/*----------------- INITIAL SETUP -----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}


/*----------------- Navbar -----------------*/

nav {
  margin-bottom: 30px;
}

/*----------------- FORM -----------------*/

#registerUser {
  width: 60%;
  margin: 0 auto;
}

#fotoUserInput {
  border:none;
}