<!DOCTYPE html>
<html lang="en">

<%- include('./components/header', {title: "Register User"}) %>

<body>
  <%- include('./components/navbar') %>
  <div class="konteiner">
    <div class="cardHeader">
      <h5 id="headerTerdekat">Terdekat ></h5>
      <button type="button" class="addLaporan btn btn-danger">Tambah Laporan</button>
    </div>
    <div id="terdekat">
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
    </div>
  </div>

  <div class="konteiner">
    <div class="cardHeader">
      <h5 id="headerTerkini">Terkini ></h5>
      <button type="button" class="addLaporan btn btn-danger">Tambah Laporan</button>
    </div>
    <div id="terdekat">
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>

        </div>
      </div>
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
      <div class="card customCard">
        <div class="fotoLokasi">
        </div>
        <div class="card-body">
          <h5 class="card-title">Lokasi:</h5>
          <p class="card-text card-text">Deskripsi:</p>
          <p class="card-text card-content">Tanggal:</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
