<!DOCTYPE html>
<html lang="en">

<%- include('../components/header', {title: "Register User", map: true}) %>

<body>
  <%- include('../components/navbar') %>
  <h1 class="formHeader">Add Report</h1>
  <form id="registerUser" enctype="multipart/form-data" action="/users/register" method="POST">
    <div class="form-group">
      <label for="location_name">Location:</label>
      <input list="locationDataList" hidden id='form-location' class="form-control" name="location_name">
    </div>
    <%- include('../components/map_input') %>
    <div class="form-group">
      <label for="coordinate">Coordinate:</label>
      <input disabled id='form-coordinate' class="form-control" name="coordinate">
    </div>
    <div class="form-group">
      <label for="deskripsi">Description</label>
      <textarea class="form-control" name="deskripsi" rows="5" id="comment"></textarea>
    </div>
    <div class="form-group">
      <label for="foto">Upload Photo</label>
      <input type="file" class="form-control" name="foto" id="fotoUserInput" placeholder="Browse Photo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <%- include('../components/script') %>
</body>

</html>
